@{
    ViewBag.Title = "About Democracy";
}

<div class="row row-centered">
    <div class="col-md-7 col-centered">
        @Html.Partial("_logo")
    </div>
</div>

<div class="row row-centered">
    <div class="col-md-7  col-centered">
        <p>
            <ul>
                <li><a href="#about">About your democracy</a></li>
                <li><a href="#site">About this site</a></li>
                <li><a href="#works">How the site works</a></li>
                <li><a href="#who">Who runs this site</a></li>
            </ul>
        </p>
        <a name="about"></a> 
        <h2>About your democracy</h2>
        <p>
            Our current democracy is not truly representative. There is a general lack of engagement
            from the public because of that. But it is not apathy…
        </p>
        <p>
            Democracy in its true form, invented by the Greeks allowed every citizen to have their
            voice heard (not everyone was a citizen, but let’s just gloss over that for now…).
            Everyone could participate in debates, and vote on any subject they choose too.
            They didn’t have to vote on everything, so they voted on the subjects that mattered to
            their lives. This was known as Direct Democracy. Also known as Real Democracy, or True
            Democracy.
        </p>
        <p>
            Over the centuries it has been corrupted, twisted and re-imagined time and again. Today 
            we find ourselves locked in a system we call representative democracy, instead of
            speaking on the things that matter to us ourselves we give our voice to an MP to speak
            on our behalf. But our MPs on average represent between 56,800 to 72,400 people each.
            There is no way one MP can represent the varied political opinions of each of their
            constituents. Instead our MP’s in general represent the political view of the party
            they are a member of. Our “representatives” ultimately end up only representing the
            wishes of the financial backers of the party.
        </p>
        <p>
            At the last election over a third (34.9%) of registered UK voters felt so disengaged with
            our current democracy that they did not vote. A further 1% of people spoilt their
            ballot. As we all know the 2010 election ended with a hung parliament because no one
            party won with a clear majority. In actuality Labour got the most votes by almost a
            million.
        </p>
        <p>
            Lab 35.2% - 9,552,436 votes<br/>
            Con 32.4% - 8,784,915 votes<br />
            Lib 22.1% - 5,985,454 votes
        </p>
        <p>
            But in the end the Conservatives and the Liberal Democrats formed a coalition government.
            But wait… these figures are misleading. This tells us what percentage of valid cast votes
            went to each party. What is important when trying to understand how representative a
            government is, is what percentage of the people registered to vote selected each party?
        </p>
        <p>
            Lab 20.9%<br />
            Con 19.2%<br />
            Lib 13.1%
        </p>
        <p>
            So because none of the major parties even got one fifth of the potential votes,
            the two parties with the lowest count teamed up, and combined their share of the
            vote to have 34% between them. Yet 35.9% didn’t vote at all or spoilt their ballot
            paper. Even if all the people who voted Conservative and Liberal Democrat are happy
            with the fact that a coalition was formed with their votes, that means that 66% of
            the population (two thirds) did not vote for this government. And more people
            (35.9% - the people who didn’t vote) in effect said they do not want a government. This is
            a higher percentage of the electorate than voted for any other option, including
            the coalition.
        </p>
        <p>
            How is this system representative? If our democratic system expressed the wishes of
            the people, central government would have be dissolved long ago. In our history, the
            electorate has only been asked to decide on a policy once. The 2011 electoral reform
            referendum that was part of the Liberal Democrats Manifesto. This referendum
            presented the public with a choice between the current “First past the post”
            system, and the so called “Alternative vote” system. Both of which were considered
            unfair and unrepresentative by the 1997 Jenkins Commission. The only other referendum
            ever held in the UK was the 1975 ECC referendum, and that was consultative only,
            “post-legislative” with no commitment from the government to act upon the result.
        </p>
        <p>
            We need a new democratic system.
        </p>
        <a name="site"></a> 
        <h2>
            About this site. 
        </h2>
        <p>
            This site has been created as a means to see what kind of politics UK voters want, 
            and compare that to what our MPs deliver. This is achieved by providing a mechanism 
            for all registered voters to vote on and debate the same subjects that our MPs debate in parliament. 
        </p>
        <p>
            By comparing the results of direct democracy, and the current representative democracy we can see just 
            how representative is our democracy and MPs really are. Perhaps then, with real hard data to say what 
            the people of the UK want and how it differs from what we get, we may be able to force real meaningful 
            change. The site is exists to serve that purpose. 
        </p>
        <p>
            We could not have built this alone, and have built upon the data and work previously done by these 
            other valuable political sources of information:
            <ul>
                <a href="http://www.theyworkforyou.com/" target="_blank">www.theyworkforyou.com</a>
            </ul>
            <ul>
                <a href="http://www.publicwhip.org.uk/" target="_blank">www.publicwhip.org.uk</a>
            </ul>
            <ul>
                <a href="http://www.politicalcompass.org/" target="_blank">www.politicalcompass.org</a>
            </ul>
        </p>
        <a name="works"></a> 
        <h2>How the site works</h2>
        <p>
            When you first sign up we attempt to verify your identity, and find you on the electoral role. 
            If we find you then you become a verified user, and your votes count towards the national 
            statistics that compare the way the public have votes to the way the MPs have voted. 
        </p>
        <p>
            If we are unable to verify your identity, then you can sill use all the features of the 
            site, but your votes only count towards an opinion poll. 
        </p>
        <p>
            Regardless of whether or not you are a verified user, you can participate in the people’s debates, 
            and view the parliamentary and media debates. 
        </p>
        <a name="who"></a>
        <h2>Who runs this site?</h2>
        <p>
            Well the moment this site is simply a prototype, and has not received any external funding. The 
            current site has been entirely developed by Mark “radical geek” Jones, and remains his intellectual 
            property until such time as funding is acquired to develop the site further. 
        </p>
    </div>
</div>
