@model Democracy.Services.Contracts.ViewModels.ContactFormViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h1>
            Some one has filled out the contact form
        </h1>
        <ul>
            <li>Name: @Model.Name</li>
            <li>Email: @Model.Email</li>
            <li>Message: <br />@Model.Message</li>
        </ul>
    </div>
</body>
</html>
